/*              Toutes les pages            */

body{
    background-color: rgba(107, 110, 122, 0.384);
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

nav {
    right: 0;
    display: flex;
    flex-direction: column;
    width: 120px;
}

.navbar-brand {
    margin-right: 0px;
}

.section{
    height: 100vh;
    width: 100%;
}

#section1{
    background-image: url("../Documents/fond1.jpg");
}
#section2{
    background-color: red;
}

#titreformulaire {
    margin-top: 30px;
}

#section3{
    background-color: yellow;
}

.blocprincipal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.blocprincipal .titre{
    color: rgb(47, 54, 64);
    display: flex;
    justify-content: center;
}

#flecheHautPage {
    display: none;
    position: fixed;
    width: 50px;
    height: 50px;
    right: 0;
    bottom: 0px;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    white-space: nowrap;
}

/*              Accueil           */

#blocdescription{
    margin-left: auto;
    margin-right: auto;
    height: 70vh;
    min-width: 140px;
    width: 60%;
    text-align: justify;
    overflow-y: scroll;
    padding-left:5px;
}

#section1 .titre {
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 20px;
    width: 40%;

}

#section1 .titre {
    background-color: rgba(23,162,184,0.4); /* bg-info color + opacity */
}

#description{
    padding-right: 3%;
    margin-left: 20px;
}

#CompetenceDiplome{
    margin-top: 60px;
    padding-bottom: 10px;
}

#CompetenceDiplome .titre2{
    margin-bottom: 5px;
}

#CompetenceDiplome #Info{
    margin-top: 0px;
    margin-left: 30px;
    margin-bottom: 2px;
}

#photoprofil {
    position: relative;
    float: left;
    right: 15px;
    border-radius: 15px;
    width: 19%;
    min-width: 50px;
    max-width: 100px;
}

/*              Formulaire            */

.formulaire{
    display: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 0px;
    max-width : 60%;
    border-radius: 55px;
}

.atformulaire{
    margin-bottom: 15px;
    border:0px;
    background: none;
    border-bottom: solid 1px white;
    border-radius: 0px;
    color: white;
    cursor: pointer;
}

::placeholder {
    color: white;
}

::-ms-input-placeholder{        /* Microsoft Edge */
    color: white;
}


input::-moz-placeholder{        /* Mozilla Firefox */
    color: white;
    opacity: 1;
}

textarea::-moz-placeholder{     /* Mozilla Firefox */
    color: white;
    opacity: 1;
}

#message{
    border:solid 1px white;
    padding: 10px;
    border-radius: 13px;
    min-width: 80%;
    max-width: 80%;
}

#soumettre{
    cursor: pointer;
    height:85px;
    width:85px;
    border-radius:50%;
	background:white;
	box-shadow:2px 2px 8px rgb(170, 170, 170);
	font:bold 13px sans-serif;
    color:rgb(85, 85, 85);
}

#soumettre:active{
    background:rgb(85, 85, 85);
    color:white;
}